.div1{background-color: #FDD02E;height: 100%;width: 100%;position:absolute;}
.div2{background-color:rgb(255, 255, 255);position: relative;height: 314px;margin-top: 10px;margin-left: 176px;margin-right: 176px;border-radius: 5px;}
.div3{background-color:rgb(255, 255, 255);position: relative;height: 267px;margin-top: 10px;margin-left: 176px;margin-right: 176px;border-radius: 5px;}
.Explore{margin-left: 45%;}
.image1{margin-left: 8px;}
.image2{margin-left: 588px;margin-top: -278px;}
.image3{margin-top:8px;margin-left: 8px;}
/* .image4:hover{} */

